---
layout: default
---

<div class="well">

  <div class="mininav">
    <p><a href="{{site.baseurl}}/"> {{ site.title | escape }}</a>
      >
      <a href="{{site.baseurl}}/{{page.categories}}">{{ page.categories | first | capitalize }}</a>
      >
      {{page.title | liquify }}</p>
    </div>

    <hr>

    <h1>{{ page.title | liquify }}</h1>

    <h6>{{page.author}}, {{ page.date | date_to_long_string }} &emsp; Tags:
      {% for tag in page.tags %}
      {{ tag }}{% if forloop.last == false %},{% endif %}
      {% endfor %}
    </h6>

    <hr>

    <div class="clearfix">
      {{ content }}
    </div>

</div>
